<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Unofficial game research group website at University of Brawijaya</h3>
                <h1>UB GAMELAB</h1>
                <h5>UB GAMELAB is active game research group and part or division of MGM (Media, Games, and Mobile) research group at Faculty of Computer Science, University of Brawijaya.</h5>
                <h5>We are also currently support entertainment and gaming technology for Geo Informatics Research Centre at University of Brawijaya</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
